# log files
.DS_Store
*.log
*.png
*.csv
*.json
*.txt
*.xlsx
!requirements.txt
!sockpuppet/requirements.txt

# Add this line for Python cache:
__pycache__/
*.pyc

# any folder named logs or starting with logs_
logs/
logs_*/
local_logs/
local_logs_*/
debug-logs/
debug_local_logs/
shared/
shared_*/
debug-output/
debug-shared/
debug-local_logs/
debug-experiment_data/

# output folders
debug_output/
output/
output_*/

experiments/
experiment_data_*/
debug_experiment_data/
experiment_data/

# build folders
dist/
out/

monitor-logs/
preprocess-logs/

# models
models/
